@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Michroma-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
*::-moz-selection {
  color: #fafeff;
  background: #00c1ec;
}
*::selection {
  color: #fafeff;
  background: #00c1ec;
}

html {
  scroll-behavior: unset;
}

a,
a:visited {
  color: rgb(141, 141, 141);
}

body {
  font-family: "font-1", sans-serif;
  height: 100vh;
  background-color: #fafeff;
  color: rgb(40, 40, 40);
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  body {
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}

main {
  position: relative;
}

.button {
  background: #e7f7fe;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  letter-spacing: 1px;
  color: #00c1ec;
}

.notFound {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.notFound h2 {
  font-size: 4rem;
  padding: 2rem;
}
.notFound h2:after {
  content: "";
  height: 500px;
  width: 500px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.notFound h3 {
  font-size: 2rem;
  transition: 0.4s;
  padding: 10px;
  transition: all 0.8s;
}
.notFound h3 i {
  margin-left: 5px;
}
.notFound h3:hover {
  transform: scale(1.3);
}

.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: rgb(141, 141, 141);
}
.navigation:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #e7f7fe;
  top: -150px;
  left: -160px;
  z-index: -1;
  animation: navAnim 17s infinite alternate;
}
@keyframes navAnim {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 430px) {
  .navigation:before {
    height: 50px;
    width: 50px;
  }
}
.navigation .nav-active {
  color: rgb(40, 40, 40);
}
.navigation ul:hover li:not(:hover) {
  opacity: 0.5;
}
.navigation ul:hover li:hover {
  color: rgb(40, 40, 40);
}
.navigation .nav-portfolio {
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  color: rgb(141, 141, 141);
}
.navigation .nav-portfolio:hover .nav-projects,
.navigation .nav-portfolio .nav-projects:hover {
  visibility: visible;
  opacity: 1;
}
.navigation .nav-portfolio:hover .nav-projects li,
.navigation .nav-portfolio .nav-projects:hover li {
  transform: rotate(0deg);
}
.navigation .nav-portfolio .nav-projects {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 40px;
  width: 300px;
  transform: translateX(70px);
  transition: 0.3s;
  perspective: 500px;
}
.navigation .nav-portfolio .nav-projects li {
  transform: rotate(30deg) scaleX(1.2);
  transform-origin: center;
  transition: 0.3s;
}

.cursor {
  width: 62px;
  height: 62px;
  border: 1px solid #00c1ec;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 500ms ease-out;
  z-index: 2;
  -webkit-backdrop-filter: brightness(115%);
          backdrop-filter: brightness(115%);
}

.cursor.hovered {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=index.css.map */