@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Michroma-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
*::-moz-selection {
  color: #fafeff;
  background: #00c1ec;
}
*::selection {
  color: #fafeff;
  background: #00c1ec;
}

html {
  scroll-behavior: unset;
}

a,
a:visited {
  color: rgb(141, 141, 141);
}

body {
  font-family: "font-1", sans-serif;
  height: 100vh;
  background-color: #fafeff;
  color: rgb(40, 40, 40);
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  body {
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}

main {
  position: relative;
}

.button {
  background: #e7f7fe;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  letter-spacing: 1px;
  color: #00c1ec;
}

.notFound {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.notFound h2 {
  font-size: 4rem;
  padding: 2rem;
}
.notFound h2:after {
  content: "";
  height: 500px;
  width: 500px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.notFound h3 {
  font-size: 2rem;
  transition: 0.4s;
  padding: 10px;
  transition: all 0.8s;
}
.notFound h3 i {
  margin-left: 5px;
}
.notFound h3:hover {
  transform: scale(1.3);
}

.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: rgb(141, 141, 141);
}
.navigation:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #e7f7fe;
  top: -150px;
  left: -160px;
  z-index: -1;
  animation: navAnim 17s infinite alternate;
}
@keyframes navAnim {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 430px) {
  .navigation:before {
    height: 50px;
    width: 50px;
  }
}
.navigation .nav-active {
  color: rgb(40, 40, 40);
}
.navigation ul:hover li:not(:hover) {
  opacity: 0.5;
}
.navigation ul:hover li:hover {
  color: rgb(40, 40, 40);
}
.navigation .nav-portfolio {
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  color: rgb(141, 141, 141);
}
.navigation .nav-portfolio:hover .nav-projects,
.navigation .nav-portfolio .nav-projects:hover {
  visibility: visible;
  opacity: 1;
}
.navigation .nav-portfolio:hover .nav-projects li,
.navigation .nav-portfolio .nav-projects:hover li {
  transform: rotate(0deg);
}
.navigation .nav-portfolio .nav-projects {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 40px;
  width: 300px;
  transform: translateX(70px);
  transition: 0.3s;
  perspective: 500px;
}
.navigation .nav-portfolio .nav-projects li {
  transform: rotate(30deg) scaleX(1.2);
  transform-origin: center;
  transition: 0.3s;
}

.cursor {
  width: 62px;
  height: 62px;
  border: 1px solid #00c1ec;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 500ms ease-out;
  z-index: 2;
  -webkit-backdrop-filter: brightness(115%);
          backdrop-filter: brightness(115%);
}

.cursor.hovered {
  width: 30px;
  height: 30px;
}

.social-network {
  position: absolute;
  right: 1rem;
  top: 0;
  width: 20%;
  font-size: 1.4rem;
}
@media screen and (max-width: 650px) {
  .social-network {
    width: 30%;
  }
}
.social-network ul {
  display: flex;
  width: 100%;
  min-width: 100px;
  justify-content: space-around;
}
@media screen and (max-width: 450px) {
  .social-network ul {
    min-width: 100%;
  }
}
.social-network ul a {
  padding: 1rem;
  transition: 1.1s ease-out;
}
.social-network ul a:hover {
  color: black;
}

.dynamic-text {
  position: relative;
  display: flex;
}
.dynamic-text #text-target {
  display: flex;
  width: 300px;
  text-align: left;
  animation: color 30s alternate infinite;
  perspective: 200px;
  transform: translateX(26px);
}
.dynamic-text .word {
  position: absolute;
}
@keyframes color {
  0% {
    color: blue;
  }
  50% {
    color: #ec006e;
  }
  100% {
    color: blue;
  }
}
.dynamic-text .letter {
  transform: translateZ(200px);
}
@keyframes anim {
  25% {
    transform: translateZ(0px);
    opacity: 1;
  }
  32% {
    opacity: 0;
    transform: translateZ(-280px) translateX(200px);
  }
}

.home {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.home:after {
  content: "";
  height: 800px;
  width: 800px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  bottom: -480px;
  right: 0px;
  z-index: -2;
  animation: homeAnim 26s infinite alternate;
}
@media screen and (max-width: 650px) {
  .home:after {
    height: 400px;
    width: 400px;
    bottom: -270px;
  }
}
@keyframes homeAnim {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 430px) {
  .home:after {
    display: none;
  }
}
.home .home-main {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 95%;
}
.home .home-main .main-content {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home .home-main .main-content h1 {
  font-size: 3.7rem;
  position: relative;
  font-family: "font-2", serif;
}
@media screen and (max-width: 650px) {
  .home .home-main .main-content h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .home .home-main .main-content h1 {
    font-size: 5rem;
  }
}
.home .home-main .main-content h1:before {
  content: "";
  position: absolute;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  border: 1px #00c1ec solid;
  top: -40px;
  left: -180px;
  z-index: -1;
}
@media screen and (max-width: 850px) {
  .home .home-main .main-content h1:before {
    height: 110px;
    width: 110px;
    left: -40px;
    top: -15px;
  }
}
.home .home-main .main-content h2 {
  font-size: 4.2rem;
  font-weight: 100;
}
@media screen and (max-width: 650px) {
  .home .home-main .main-content h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .home .home-main .main-content h2 {
    font-size: 5rem;
  }
}
.home .credits {
  position: absolute;
  right: 1rem;
  color: grey;
  text-decoration: underline;
}

.scroll a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 4rem;
  color: rgb(184, 183, 183);
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 14px;
}
.scroll a:hover {
  font-size: 5rem;
}
.scroll .left {
  left: 15px;
}
.scroll .right {
  right: -24px;
}

.logo {
  position: absolute;
  font-family: "font-2", serif;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.75s ease-in-out;
}
.logo:hover {
  font-size: 1.5rem;
}
.logo:after {
  content: "";
  height: 24px;
  width: 24px;
  border: 1px #00c1ec solid;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: -12px;
  z-index: -1;
}

.project {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.project:after {
  content: "";
  height: 340px;
  width: 340px;
  border: 1px solid #00c1ec;
  border-radius: 50%;
  position: absolute;
  bottom: -200px;
  left: -80px;
  z-index: -1;
}
@media screen and (max-width: 810px) {
  .project:after {
    height: 200px;
    width: 200px;
    bottom: -110px;
  }
}
@media screen and (max-width: 430px) {
  .project:after {
    left: -500px;
  }
}
.project .navigation {
  top: 8px;
  left: 60%;
  font-size: 1.2rem;
  line-height: 20px;
  transform: translateY(-100%);
  animation: navProject 1s ease forwards;
}
@media screen and (max-width: 650px) {
  .project .navigation {
    left: 70%;
  }
}
@keyframes navProject {
  to {
    transform: translateY(0);
  }
}
.project .navigation:before {
  left: -120px;
  top: -250px;
}
.project .navigation .nav-projects {
  transform: translateX(67px);
  padding: 0 20px;
}
.project .logo {
  top: 10px;
  left: 5%;
  transform: translateX(-50%);
  transform: scale(0);
  animation: logoProject 2s ease forwards;
}
@keyframes logoProject {
  to {
    transform: scale(1);
  }
}
.project .project-main {
  margin: 8rem 1rem 0;
  display: grid;
  grid-template-columns: 33% 67%;
  position: relative;
  text-align: right;
}
@media screen and (max-width: 810px) {
  .project .project-main {
    grid-template-columns: 25% 75%;
  }
}
@media screen and (max-width: 700px) {
  .project .project-main {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }
}
@media screen and (max-height: 600px) {
  .project .project-main {
    margin: 3rem 1rem 0;
  }
}
.project .project-main .project-content {
  margin-right: 20px;
}
@media screen and (max-width: 700px) {
  .project .project-main .project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }
}
.project .project-main .project-content h1 {
  font-size: 3rem;
  margin-bottom: 12px;
  font-family: "font-2", serif;
  color: #00c1ec;
  transform: scaleX(0);
  animation: transformTitle 1.5s ease forwards;
  transform-origin: 150%;
}
@media screen and (max-width: 810px) {
  .project .project-main .project-content h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .project .project-main .project-content h1 {
    font-size: 1.2rem;
  }
}
@keyframes transformTitle {
  to {
    transform: scaleX(1);
  }
}
.project .project-main .project-content p {
  margin-bottom: 30px;
  color: rgb(141, 141, 141);
  font-size: 1.2rem;
}
@media screen and (max-width: 700px) {
  .project .project-main .project-content p {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .project .project-main .project-content p {
    font-size: 0.9rem;
  }
}
.project .project-main .project-content p:after {
  content: "";
  height: 340px;
  width: 340px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  left: 70px;
  z-index: -10;
}
@media screen and (max-width: 810px) {
  .project .project-main .project-content p:after {
    height: 220px;
    width: 220px;
    left: -30px;
  }
}
.project .project-main .project-content li {
  font-size: 1.5rem;
  font-family: font-2;
  color: rgb(55, 60, 110);
}
@media screen and (max-width: 700px) {
  .project .project-main .project-content li {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  .project .project-main .project-content li {
    font-size: 0.8rem;
  }
}
.project .project-main .img-content {
  position: relative;
  text-align: left;
  margin-left: 20px;
}
@media screen and (max-width: 700px) {
  .project .project-main .img-content {
    text-align: center;
    margin: 0 auto;
  }
}
.project .project-main .img-content .img-container {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.26);
  width: 600px;
  height: 380px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 940px) {
  .project .project-main .img-content .img-container {
    height: 300px;
    width: 500px;
  }
}
@media screen and (max-width: 540px) {
  .project .project-main .img-content .img-container {
    height: 200px;
    width: 370px;
  }
}
@media screen and (max-width: 400px) {
  .project .project-main .img-content .img-container {
    height: 150px;
    width: 280px;
  }
}
.project .project-main .img-content .img-container:hover span,
.project .project-main .img-content .img-container span:hover {
  visibility: visible;
  transform: translateY(0);
}
.project .project-main .img-content .img-container img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.4s ease-out;
  position: relative;
}
.project .project-main .img-content .img-container img:hover,
.project .project-main .img-content .img-container img span:hover img {
  transform: scale(1.2);
  filter: opacity(8%) contrast(130%);
}
.project .project-main .img-content .img-container span {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  line-height: 34px;
  font-size: 1.5rem;
  transition: 0.5s ease;
  transform: translateY(200px);
}
@media screen and (max-width: 540px) {
  .project .project-main .img-content .img-container span {
    font-size: 1rem;
    line-height: 20px;
  }
}
.project .project-main .img-content .img-container span h3 {
  padding-bottom: 10px;
  color: rgb(2, 121, 148);
}
.project .button-container {
  width: 130px;
}
.project .button-container a .button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafeff;
  background: #00c1ec;
  width: 170px;
}
@media screen and (max-width: 410px) {
  .project .button-container a .button {
    width: 100px;
    font-size: 0.85rem;
  }
}
.project .button-container a .button:hover {
  color: #00c1ec;
  background: #e7f7fe;
}
.project .random-circle {
  position: absolute;
  height: 400px;
  width: 400px;
  background: #e7f7fe;
  border-radius: 50%;
  z-index: -1;
  animation: circleAnim 16s infinite alternate;
}
@keyframes circleAnim {
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 630px) {
  .project .random-circle {
    display: none;
  }
}

.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.contact:after {
  content: "";
  height: 700px;
  width: 700px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  right: -460px;
  z-index: -10;
  animation: contactAnim 25s alternate infinite;
}
@media screen and (max-width: 840px) {
  .contact:after {
    height: 400px;
    width: 400px;
    top: 520px;
    right: -140px;
  }
}
@keyframes contactAnim {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 440px) {
  .contact .navigation {
    display: none;
  }
}
.contact .logo {
  top: 15px;
  right: 1rem;
}
.contact .form-container {
  margin: 7% 0 0 24%;
  max-width: 50%;
  position: relative;
  max-width: 300px;
}
@media screen and (max-width: 740px) {
  .contact .form-container {
    margin: 2rem 0 0 30%;
  }
}
@media screen and (max-width: 440px) {
  .contact .form-container {
    margin-left: 2rem;
  }
}
.contact .form-container h2 {
  margin-bottom: 50px;
}
.contact .form-container h2:after {
  content: "";
  height: 70px;
  width: 70px;
  border: 1px #00c1ec solid;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: 80px;
  z-index: -1;
}
.contact .form-container .form-content {
  display: grid;
}
.contact .form-container .form-content input,
.contact .form-container .form-content textarea {
  background: none;
  font-family: "font-1", sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid #00c1ec;
  border-radius: 5px;
}
@media screen and (min-width: 1200px) {
  .contact .form-container .form-content input,
  .contact .form-container .form-content textarea {
    font-size: 1.5rem;
  }
}
.contact .form-container .form-content input {
  padding: 10px 6px;
  margin-bottom: 30px;
}
.contact .form-container textarea {
  resize: none;
  padding: 6px 0;
  height: 75px;
}
@media screen and (max-width: 540px) {
  .contact .form-container textarea {
    width: 75%;
    padding: 12px 0;
  }
}
.contact .form-container input.button {
  background: #e7f7fe;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
.contact .formMessage p {
  border-radius: 20px;
  text-align: center;
  padding: 5px 0;
}
.contact .formMessage .success {
  background: rgb(139, 248, 139);
}
.contact .formMessage .error {
  background: rgb(246, 147, 147);
}

.contact-infos {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(4, 23%);
  height: 70%;
  width: 30%;
  max-width: 500px;
}
@media screen and (max-width: 740px) {
  .contact-infos {
    height: 200px;
    width: 100%;
    max-width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c" "d d d";
  }
}
@media screen and (max-width: 540px) {
  .contact-infos {
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "b b b c c c" "d d d d d d";
  }
}
@media screen and (max-height: 500px) {
  .contact-infos {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos {
    width: 35%;
    height: 83%;
  }
}
.contact-infos h4 {
  color: rgb(141, 141, 141);
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact-infos h4 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos p {
    font-size: 1.4rem;
  }
}
.contact-infos .email .content p,
.contact-infos .phone .content p {
  transition: 0.25s;
}
.contact-infos .email .content p:hover,
.contact-infos .phone .content p:hover {
  transform: translateX(5px);
}
.contact-infos .address {
  position: relative;
}
@media screen and (max-width: 540px) {
  .contact-infos .address {
    display: none;
  }
}
.contact-infos .address .content {
  position: absolute;
  right: 10px;
}
.contact-infos .phone {
  position: relative;
}
@media screen and (max-width: 540px) {
  .contact-infos .phone {
    text-align: center;
    font-size: 0.8rem;
    grid-area: b;
  }
}
.contact-infos .phone .content {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}
@media screen and (max-width: 540px) {
  .contact-infos .phone .content {
    position: relative;
    margin: 0 auto;
    left: 0;
    transform: translateX(0);
  }
}
@media screen and (max-width: 540px) {
  .contact-infos .email {
    grid-area: c;
    font-size: 0.8rem;
    text-align: center;
  }
}
.contact-infos .social-network {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  .contact-infos .social-network {
    width: 50%;
    grid-area: d;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos .social-network {
    font-size: 2rem;
  }
}
.contact-infos .social-network .content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.credits {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: grey;
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */